.app-header {
  background-color: var(--mantine-primary-color-filled);
  color: white;
}

.error-modal {
  .message {
    white-space: pre-line;
  }
}

.chart-range .mantine-Slider-label {
  top: calc(1.45rem * var(--mantine-scale));  
}